absl-py==2.3.1
certifi==2026.1.4
charset-normalizer==3.4.4
grpcio==1.76.0
idna==3.11
kagglehub==0.4.1
kagglesdk==0.1.15
kornia==0.6.12
Markdown==3.10.1
MarkupSafe==3.0.3
numpy==1.26.4
packaging==26.0
pillow==12.1.0
protobuf==6.33.4
PyYAML==6.0.3
requests==2.32.5
tensorboard==2.20.0
tensorboard-data-server==0.7.2
torch==1.12.1+cu102
torchvision==0.13.1+cu102
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.5
